{% extends "layout.html" %}

{% block title %}
    Kana-board: Log In
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

	<div class="signup-form">
		<form action="/login" method="post">
	        <div class="form-group">
	            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
	        </div>

	        <div class="form-group">
	            <input class="form-control" name="password" placeholder="Password" type="password" required>
	        </div>

	        <button class="btn btn-dark" type="submit">Log In</button>
	    </form>
    </div>
{% endblock %}

